{{template "public/header" .}}
    <h1>上传图片到 Telegram</h1><label for="uploadFile" id="uploadFileLabel" class="custom-file-label">选择图片</label> <input
        type="file" name="image" id="uploadFile" accept=".jpg, .jpeg, .png" class="custom-file-input" multiple> <button
        id="uploadButton">上传</button>
    <div id="loading">上传中...</div>
    <div id="response" class="ui-widget"></div>
{{template "public/footer" .}}